div{
    height: 100px;
    width: 100px;
    background-color: chocolate;
}
/*div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid blueviolet ;
    border-radius: 50%;
   padding: 25px;
   margin: 25px;
}
    border-width: 2px;
    border-style: dotted;
    border-color: blueviolet;
}
h1{
    width: 200px;
    height: 50px;
    background-color: brown;
    border: 5px dotted violet;
    /*border-width: 5px;
    border-style: dotted;
    text-align: center;
}*/